@model IEnumerable<Blog_DevIO.Core.ViewModels.Comments.CommentViewModel>

<section id="list-comments" class="mt-2">
    @foreach (var item in Model)
    {
        <!-- Single comment-->

        <div class="row gx-4 gx-lg-5">
            <div class="col-md-9">
                <div class="fw-bold">@item.Author.FistName</div>
                @item.Content
            </div>

            @if (item.CanEdit)
            {
                <div class="col-md-3">
                    <div class="d-flex gap-1 justify-content-end">
                        <button class="btn btn-outline-primary btn-sm" id="btn-edit" data-bs-toggle="modal" data-bs-target="#editModal" title="Edit" data-id="@item.Id" data-postid="@item.PostId">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-outline-danger btn-sm" id="btn-delete" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Delete" data-id="@item.Id" data-postid="@item.PostId">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </div>
                </div>
            }

        </div>


    }
</section>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this comment?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="confirmDeleteBtn" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalContent">
            </div>
        </div>
    </div>
</div>